header.header {
    background-color: var(--bg-darkgray);
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    color: aliceblue;
    box-shadow: var(--shadow);
}

header.header h1 {
    font-size: 1em;
}